body {
    background-color: rgb(168, 132, 201);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(68, 9, 124);
}

.rodape {
    color: rgb(52, 52, 110);
    font-weight: bold;
}

#texto {
    color: rgb(8, 92, 64);
    font-weight: bold;
}